<!DOCTYPE html>
<html>
    <head>
        <title>Goomblog!</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <!--<div id="navbar" class="ui green inverted fixed menu">-->
        <div id="navbar" class="ui inverted fixed menu">
            <div class="header item">
                <i class="paper plane icon"></i>Goomblog!
            </div>
            <a class="item" href="/">Home</a>
            <a class="item" href="/entries">Entries</a>
            <a class="item" href="/entries/new">New Entry</a>
            <a class="item" href="/inbox">Inbox</a>
            
            <div class="right menu">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
                <a class="ui item" href="/entries"><i class="user circle icon"></i>Login</a>
                <a class="item" href="/entries">About</a>
            </div>
        </div>